<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511457832412-ur2l9up3dgjedunttr8rhspje282kvmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511457832412-ur2l9up3dgjedunttr8rhspje282kvmv</string>
	<key>API_KEY</key>
	<string>AIzaSyD0ne4hYPtj14XUzqvAQVky7s1QuLiZhXw</string>
	<key>GCM_SENDER_ID</key>
	<string>511457832412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneLogin</string>
	<key>PROJECT_ID</key>
	<string>phone-login-d4f42</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-login-d4f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511457832412:ios:f2f09ff236729944b3b319</string>
</dict>
</plist>